{erl_opts, [debug_info]}.
{deps, [{gun, "2.0.0"}]}.

{plugins, [
  {rebar3_docker, {git, "https://github.com/stritzinger/rebar3_docker.git", {branch, "main"}}}
]}.

{shell, [
    {config, "config/shell.config"},
    {apps, [braidnode]}
]}.

{profiles,[
    {container,[
        {relx, [
            {release, {braidnode, "0.1.0"}, [braidnode, sasl]},
            {sys_config, "config/container.config"},
            {include_src, false},
            {include_erts, true}
        ]}
    ]}
]}.


{docker, [
  % The version of the erlang docker image.
  % If not specified, uses "25.1.2.0"
  {erlang_version, "25.3.2"},
  % The extra packages to install in the building docker layer.
  {build_packages, [            %
      make,
      gcc,
      "libc-dev",
      "libbsd-dev"
  ]},
  % The git url to be rewritten. Used to access private repository.
  {git_url_rewrites, [
      {"https://github.com/", "git@github.com:"}
  ]},
  % The extra runtime package to install in the final docker image.
  {runtime_packages, []},
  % The ports to be exposed by the docker image.
  % {ports, [
  %     {8888, tcp}
  % ]},
  % The docker image environment.
  {env, [
      {'COOKIE', "dummy"},
      {'LOGGER_LEVEL', debug}
  ]}
]}.
