[
    {braidnode,[
        {braidnet_domain, "localhost"},
        {braidnet_port, 9090}
        % You can prevent braidnode from attempting connection at startup with:
        % {auto_connect, false}
    ]},
    {kernel, [
        {connect_all, false}, % very important to avoid transitive connections
        {logger_level, debug},
        {logger, [
          {handler, default, logger_std_h, #{
            formatter => {logger_formatter, #{
              template => [time, " ", "[", level, "] ", msg, "\n" ],
              chars_limit => 3_000
            }}
          }}
        ]}
    ]}
].
